body {
  padding-right: 0px !important;
  height: 100vh;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

@keyframes floatingAnimation {
0% { transform: translateY(0); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

.scrollArrow {
  animation: floatingAnimation 1.5s linear infinite;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #393E46;
  color: #222831;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #393E46;
  color: #222831;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #393E46;
  color: #222831;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #393E46;
  }
  50%, 100% {
    background-color: rgba(57, 62, 70, 0.2);
  }
}

